body {
	background-color: #e9e9e9;
}

a:hover {
	color: red
}

h1,h2,h3 {
	text-align: center;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: black;
}

h1.title {
	display: table;
	margin: auto;
	background-color: #afc4d6;
	border-width: 4px;
	border-style: outset;
	border-color: #9fd1ff;
	padding: 5px 8px;
	letter-spacing: -.025em;
}
	/* If prompt and input are in two cells of one row, the prompt will be R-aligned. */
.formTable {
	display: table;
}

.formTable td:first-child {
	text-align: right;
}

th {
	background-color: #afc4d6;
	font-size: 110%;
	font-family: Arial, Helvetica, sans-serif;
}

legend {
	font-weight: bold;
	color: black;
	background-color: #afc4d6;
	border: 1px solid #1a55bf;
	padding: 3px 5px;
}

input,textarea {
	background-color: #ecedf2;
	text-align: left;
}

input[type="checkbox"] {
	background-color: transparent;
	/* For IE -- doesn't matter in FF or Chrome */
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
	background-color: #9fd1ff;
}

.error {
	color: red;
	font-weight: bold;
}

.blue-error {
	color: blue;
	font-weight: bold;
}

ul.aligned {
	/* So if in centered div, the bullets line up under each other */
	display: inline-block;
	text-align: left;
}